apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: savesync-prod
  namespace: argocd
  labels:
    environment: production
spec:
  project: default
  
  source:
    repoURL: https://github.com/axelfrache/savesync.git
    targetRevision: main
    path: k8s/overlays/prod
  
  destination:
    server: https://kubernetes.default.svc
    namespace: savesync
  
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas
